@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Manrope:wght@500&display=swap');

:root{
    --almost-red: #DF1548;
    --deep-blue: #272F4A;
    --allow-green: #20C19E;
    --pretented-white: #FAFAFB;

    --shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

html, body{
    font-family: 'Manrope', sans-serif;
    background-color: var(--pretented-white);
    color: var(--deep-blue);
}